@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
header p
{color:#93C1F9;
font-family: Roboto, sans-serif;
font-size: 19px;
font-style: normal;
font-weight : 500;
}

p {
    color:  #CCD2E9;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    
}


.coments{
    color: #FFF;
    background: linear-gradient(208deg, #6888C8 9.05%, #5A98F2 76.74%);
}

 footer{
    color: #FFF;
    background: linear-gradient(208deg, #6888C8 9.05%, #5A98F2 76.74%);
}

a{
    color: #FFF;
font-family: Mulish, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
text-decoration: none;
}


nav a{
    color: var(--1f1534-hyfen, #1F1534)
}

.doctor{
    width: 769px;
    height: 554px;
}

.mini{
    width:50px;
    height: 50px;
}


header {
    display: flex;
height: 100vh;
margin: 20px 50px ;
align-items : center;
}


h2 {
    color: #3C567B;
    font-size: 48px;
}


.b1 {
    display: block;
    height: 74px;
    width: 200px;
    background-color: #458FF6 ;
    border-radius: 100px;
}